{{ apollo_cluster }}:
  hosts:
{% for host in groups[apollo_cluster] %}
    {{ host }}:
{% if 'ansible_host' in hostvars[host] %}
      ansible_host: {{ hostvars[host]['ansible_host'] }}
{% endif %}
{% if 'ansible_user' in hostvars[host] %}
      ansible_user: {{ hostvars[host]['ansible_user'] }}
{% endif %}
{% if 'ansible_connection' in hostvars[host] %}
      ansible_connection: {{ hostvars[host]['ansible_connection'] }}
{% endif %}
{% if 'ansible_port' in hostvars[host] %}
      ansible_port: {{ hostvars[host]['ansible_port'] }}
{% endif %}
{% if 'provider' in hostvars[host] %}
      provider: {{ hostvars[host]['provider'] }}
{% endif %}
{% if 'labels' in hostvars[host] %}
      labels: {{ hostvars[host]['labels'] }}
{% endif %}
{% if 'apollo_cluster' in hostvars[host] %}
      apollo_cluster: {{ hostvars[host]['apollo_cluster'] }}
{% endif %}
{% endfor %}
    {{ id }}-{{ apollo_cluster }}-kubernetes:
      ansible_connection: local

kubernetes:
  hosts:
    {{ id }}-{{ apollo_cluster }}-kubernetes

{% if groups['master'] is defined %}
master:
   hosts:
{% for node in groups['master'] %}
{% if hostvars[node]['inventory_hostname'] in groups[apollo_cluster] %}
    {{ hostvars[node]['inventory_hostname'] }}
{% endif %}
{% endfor %}
{% endif %}

{% if groups['node'] is defined %}
node:
   hosts:
{% for node in groups['node'] %}
{% if hostvars[node]['inventory_hostname'] in groups[apollo_cluster] %}
    {{ hostvars[node]['inventory_hostname'] }}
{% endif %}
{% endfor %}
{% endif %}